html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Raleway Webfont Light";
  src: url('../fonts/raleway-light.eot?1410936040');
  src: url('../fonts/raleway-light.eot?&1410936040#iefix') format('embedded-opentype'), url('../fonts/raleway-light.ttf?1410936040') format('truetype'), url('../fonts/raleway-light.woff?1410936040') format('woff'), url('../fonts/raleway-light.svg?1410936040') format('svg'), url('../fonts/raleway-light.eot?1410936040') format('embedded-opentype');
  font-weight: "300";
  font-style: "normal"; }
@font-face {
  font-family: "Raleway Webfont Regular";
  src: url('../fonts/raleway-regular.eot?1410936040');
  src: url('../fonts/raleway-regular.eot?&1410936040#iefix') format('embedded-opentype'), url('../fonts/raleway-regular.ttf?1410936040') format('truetype'), url('../fonts/raleway-regular.woff?1410936040') format('woff'), url('../fonts/raleway-regular.svg?1410936040') format('svg'), url('../fonts/raleway-regular.eot?1410936040') format('embedded-opentype');
  font-weight: "400";
  font-style: "normal"; }
@font-face {
  font-family: "Raleway Webfont Bold";
  src: url('../fonts/raleway-bold.eot?1410936040');
  src: url('../fonts/raleway-bold.eot?&1410936040#iefix') format('embedded-opentype'), url('../fonts/raleway-bold.ttf?1410936040') format('truetype'), url('../fonts/raleway-bold.woff?1410936040') format('woff'), url('../fonts/raleway-bold.svg?1410936040') format('svg'), url('../fonts/raleway-bold.eot?1410936040') format('embedded-opentype');
  font-weight: "700";
  font-style: "normal"; }
/*****************************
            Fonts
*****************************/
/*****************************
            Styles
*****************************/
a:hover, a:focus, a:active {
  text-decoration: none; }

/*****************************
            Colors
*****************************/
/*****************************
         Dimensions
*****************************/
/*****************************
            Buttons
*****************************/
.btn-turquoise {
  background-color: #fff;
  border: 2px solid #448b83;
  outline: 0;
  font-style: italic;
  padding: 6px 16px;
  color: #448b83;
  font-size: .8em; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "Raleway Webfont Regular", sans-serif;
  font-size: 1em; }

#home {
  height: 100%; }
  #home #nav {
    height: 60px;
    padding: 0 15px;
    width: 100%;
    background-color: #fff;
    margin: 0;
    border: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    #home #nav .container-fluid {
      padding: 0;
      margin: 0; }
    #home #nav .nav-list li {
      display: inline-block; }
      #home #nav .nav-list li:last-child {
        margin-right: 0; }
      #home #nav .nav-list li a {
        font-size: 0.85em;
        color: #000;
        text-transform: uppercase; }
        #home #nav .nav-list li a:hover {
          color: #000; }
  #home #cover {
    height: calc(100% - 60px);
    background-image: url("../img/table-bg.jpg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column; }
    #home #cover .slogan, #home #cover .subtext {
      color: #fff; }
    #home #cover .slogan {
      font-family: "Raleway Webfont Bold", sans-serif;
      font-size: 3.2em;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-align: center; }
    #home #cover .subtext {
      font-size: 1em;
      margin-top: 5px; }
  #home .slide-down {
    width: 44px;
    height: 60px;
    background-color: #448b83;
    text-align: center;
    opacity: .9;
    position: absolute;
    bottom: 0; }
    #home .slide-down span {
      color: #fff;
      font-size: 1.6em;
      margin-top: 10px; }

#works .projects {
  float: left; }
  #works .projects .project-item {
    display: inline-block;
    padding: 0;
    float: left;
    font-size: 0;
    height: 220px; }
    #works .projects .project-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
#works .learn-more {
  text-align: center;
  float: left;
  width: 100%;
  margin: 50px 0; }

#services {
  background-color: #ececec;
  padding-bottom: 50px; }
  #services .boxes {
    margin-top: 70px; }
    #services .boxes .service-item {
      text-align: center;
      margin-bottom: 30px; }
      #services .boxes .service-item .fa {
        font-size: 2em;
        display: block;
        margin-bottom: 14px; }
      #services .boxes .service-item .service-name {
        font-size: 13px; }

#about .people {
  float: left; }
  #about .people .person {
    display: inline-block;
    padding: 0;
    float: left;
    font-size: 0;
    height: 280px; }
    #about .people .person img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
#about .slider {
  text-align: center;
  float: left;
  width: 100%;
  margin: 50px 0; }

#pricing {
  background-color: #ececec;
  padding-bottom: 50px; }
  #pricing .prices .price {
    text-align: center;
    background-color: #fff;
    padding: 30px 0; }
    #pricing .prices .price:hover {
      border-top: 3px solid #448b83;
      cursor: pointer;
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      -moz-transition-property: all;
      -o-transition-property: all;
      -webkit-transition-property: all;
      transition-property: all;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
    #pricing .prices .price .name {
      font-family: "Raleway Webfont Bold", sans-serif;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 2px;
      border-bottom: 1px solid #aaa;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 10px; }
    #pricing .prices .price .value {
      font-family: "Raleway Webfont Bold", sans-serif;
      font-size: 2.2em;
      margin: 20px 0; }
    #pricing .prices .price ul li {
      font-size: .8em;
      line-height: 24px; }
      #pricing .prices .price ul li.out {
        text-decoration: line-through;
        color: #aaa; }
    #pricing .prices .price button {
      margin-top: 15px; }

#blog {
  padding: 50px 0;
  text-align: center; }
  #blog .fa {
    font-size: 3em;
    margin-bottom: 10px; }
  #blog p {
    line-height: 24px;
    font-size: .9em; }
    #blog p a {
      color: #448b83; }

#contact {
  background-color: #ececec;
  padding-bottom: 50px; }
  #contact #contact-form input, #contact #contact-form textarea {
    color: #aaa;
    background-color: #fff;
    width: calc(100% - 10px);
    border: 1px solid #aaa;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: .8em; }
  #contact #contact-form input {
    height: 40px; }
    #contact #contact-form input[type="submit"] {
      border: 2px solid #448b83;
      color: #448b83;
      background: none; }
  #contact #contact-form textarea {
    height: 100px;
    padding-top: 10px; }
  #contact .additional-info h3 {
    text-transform: uppercase;
    font-family: "Raleway Webfont Bold", sans-serif;
    margin: 20px 0 10px 0;
    font-size: 1.2em; }
    #contact .additional-info h3:first-child {
      margin-top: 0; }
  #contact .additional-info p {
    font-size: .8em;
    line-height: 20px; }
  #contact .additional-info .location {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 15px; }
    #contact .additional-info .location .fa {
      font-size: 2em;
      margin-right: 10px; }
    #contact .additional-info .location a {
      font-size: .8em;
      color: #448b83; }

#footer {
  background-color: #dfdfdf;
  padding: 40px 0; }
  #footer p {
    font-size: .85em;
    color: #262626; }
    #footer p a {
      margin-left: 6px;
      color: #262626; }
  #footer .social p {
    text-align: right; }

#works, #services, #about,
#pricing, #blog, #contact, #footer {
  float: left;
  width: 100%; }

.section-header {
  margin: 60px 0;
  padding: 0 50px; }
  .section-header h2 {
    font-family: "Raleway Webfont Bold", sans-serif;
    font-size: 1.6em;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase; }
  .section-header .subtext {
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
    line-height: 18px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }

@media screen and (max-width: 767px) {
  #home {
    height: calc(100% - 56px); }
    #home #nav {
      height: auto;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
      border-bottom: 1px solid #448b83; }
      #home #nav .navbar-toggle {
        margin-top: 13px;
        border-color: #448b83;
        background-color: #fff; }
        #home #nav .navbar-toggle .icon-bar {
          background-color: #448b83; }
        #home #nav .navbar-toggle:hover, #home #nav .navbar-toggle:focus, #home #nav .navbar-toggle:active {
          -moz-transition-property: all;
          -o-transition-property: all;
          -webkit-transition-property: all;
          transition-property: all;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -moz-transition-timing-function: ease-in-out;
          -o-transition-timing-function: ease-in-out;
          -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
          background-color: #448b83; }
          #home #nav .navbar-toggle:hover .icon-bar, #home #nav .navbar-toggle:focus .icon-bar, #home #nav .navbar-toggle:active .icon-bar {
            background-color: #fff; }
      #home #nav .navbar-collapse {
        width: 100%;
        margin: 0; }
        #home #nav .navbar-collapse .nav-list {
          margin: 0; }
          #home #nav .navbar-collapse .nav-list li {
            width: 100%;
            text-align: center;
            margin-bottom: 5px; }
            #home #nav .navbar-collapse .nav-list li:last-child {
              margin-bottom: 0; }
            #home #nav .navbar-collapse .nav-list li a {
              font-size: .8em;
              padding-top: 12px;
              padding-bottom: 12px; }
    #home #cover {
      margin-top: 56px;
      height: 100%; }

  #works .projects .project-item {
    height: 250px;
    margin-bottom: 5px; }

  #about .people .person {
    margin-bottom: 5px; }

  #pricing .prices > div {
    margin-bottom: 40px; }

  #blog p {
    width: 90%;
    margin: 0 auto; }

  #contact {
    text-align: center; }
    #contact .additional-info {
      margin-top: 20px; }
      #contact .additional-info .location {
        -webkit-justify-content: center;
        justify-content: center; }

  #footer {
    padding: 30px 0; }
    #footer .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column; }
      #footer .container .copy, #footer .container .social {
        width: 100%;
        text-align: center;
        padding: 10px 0; }
      #footer .container .copy {
        order: 2;
        margin-top: 10px; }
      #footer .container .social {
        order: 1; }
        #footer .container .social p {
          text-align: center; }
          #footer .container .social p a {
            display: block;
            margin-left: 0;
            margin-top: 15px;
            font-size: 1.6em; }

  .section-header .subtext {
    width: 90%; } }

/*# sourceMappingURL=main.css.map */
